@font-face { font-family: 'Godo'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoM.woff') format('woff'); } @font-face { font-family: 'Godo'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/godo/Godo/GodoB.woff') format('woff'); } .godo * { font-family: 'Godo', sans-serif; }

.container{
    position: relative;
    display: block;
    height:auto;
    float: none;
    width: 620px;
    max-width: none;
    margin: 100px auto 150px auto;
    padding: 20px 20px 50px 20px ;
    border-radius: 10px;
    background-color: #d6e7f9;
    color:#07061e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    z-index: 4000;

}

fieldset{
    padding: 20px 20px 20px 20px;
    text-align: center;
    background-color:aliceblue;
    border-radius:20px ;
}

.table{
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 20px 10px 20px;
}

table > th{
    text-align: center;
    height: 20px;
}

a{
    text-decoration: none;
    color: black;
}

