<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>후라이드참잘하는집</title>
    <link rel="stylesheet" href="http://bootstrapk.com/dist/css/bootstrap.min.css">
</head>
<body>
{% include 'layout/header.html' %}
{% include 'layout/map_layout.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>