<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .box{
        margin-top: 250px;
        display: table;
        margin-left: auto;
        margin-right: auto;
        padding: 50px 25px 50px 25px;
        border-radius: 15px;
        background-color: #bcbcbc;
    }
    .search{
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<body>
<div class="box">
<div class="search">
<form action="/shop_kakao_proc" method="get">
    <h2>카카오맵 검색</h2>
    <select name="keyword" id="keyword">
        <option value="jijum">지점명</option>
        <option value="addr">주소</option>
    </select>
    <input type="text" name="s_search" id="s_search">
    <input type="submit" value="검색하기">
</form>
</div>
</div>
</body>
</html>